// App
// ===

@import 'variables';
@import 'mixins';

@import './_layout.scss';
@import './_typography.scss';
@import './_buttons.scss';
@import './_keyframes.scss';


// Some hard resets
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: $color-slate;

    // Ensure mobile and tablet browsers show text at the correct size
    text-size-adjust: 100%;

    // Sets 1rem = 10px. http://snook.ca/archives/html_and_css/font-size-with-rem
    // We use calc() to force IE accuracy - https://stackoverflow.com/a/45067574
    font-size: calc(10em / 16);
}
