// Buttons
// =======

button,
.button {
    padding: 1rem 1.5rem;
    font-size: 2rem;
    color: white;
    border: none;
    border-radius: 0.7rem;
    background: -webkit-linear-gradient(left, $color-fuschia 0%, $color-grape 50%, $color-fuschia 100%);
    background-size: 200% auto;
    transition: all $default-transition-style $default-transition-duration;

    &:hover {
        cursor: pointer;
        background-position: 200%;
    }

    &:disabled,
    &[disabled] {
        opacity: 0.6;
    }
}
