// Layout
// ======

@import 'variables';
@import 'mixins';


.container {
    margin: 0 auto;
    padding: 0 $mobile-gutter;
    max-width: $site-max-width;

    @include mq($from: md) {
        padding: 0 $tablet-gutter;
    }

    @include mq($from: xl) {
        padding: 0 $desktop-gutter;
    }
}
