// Typography
// ==========

@import 'variables';
@import 'mixins';

// Google fonts import for 'Roboto' and 'Fredoka One' fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');


body {
    color: white;
    font-family: $primary-font-family;
    font-size: 1.6rem;

    @include mq($from: xl) {
        font-size: 1.8rem;
    }
}

h1, h2, h3 {
    font-family: $secondary-font-family;
}

p {
    margin-bottom: 1.5rem;

    &:last-of-type {
        margin-bottom: 0;
    }
}

a {
    color: $color-fuschia;
    background: -webkit-linear-gradient(left, $color-fuschia 0%, $color-lavender 50%, $color-fuschia 100%);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all $default-transition-style $default-transition-duration;

    &:hover {
        background-position: 200%;
        color: $color-lavender;
    }
}

::selection {
    color: white;
    background-color: $color-fuschia;
    background-clip: none;
    text-fill-color: white;
    -webkit-background-clip: none;
    -webkit-text-fill-color: white;
}
