// Filter
// ======

@import 'variables';
@import 'mixins';


.filter {
    margin: 3rem 0;
}

.filter__form {
    display: flex;
    justify-content: center;
}

.filter__query {
    flex-grow: 1;
    max-width: 30rem;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    border: none;
    border-right: 0;
    border-radius: 0.7rem 0 0 0.7rem;
}

.filter__submit {
    flex-shrink: 0;
    border-radius: 0 0.7rem 0.7rem 0;

    svg {
        width: 2rem;
        height: 2rem;
        fill: white;

        // Add a slight Y offset so the circle of the magnifying glass in the
        // icon 'appears' to be center
        transform: translateY(0.2rem);
    }
}
