// Listing
// =======

@import 'variables';
@import 'mixins';


.listing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 0;
}

.listing__load-more-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 3rem;

    button {

    }

    span {
        display: flex;
        align-items: center;
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: white;
        margin-right: 1rem;
        animation: spin 1.5s linear infinite;
    }
}
