// Header
// ======

@import 'variables';
@import 'mixins';


.header {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;

    @include mq($from: md) {
        margin-top: 3rem;
    }

    @include mq($from: xl) {
        margin-top: 3rem;
    }
}

.header__title {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: normal;

    @include mq($from: md) {
        font-size: 5rem;
    }

    @include mq($from: xl) {
        font-size: 7rem;
    }
}
