// Result
// ======

@import 'mixins';
@import 'variables';


.result {
    margin: 1rem;
    position: relative;
}

.result__image-button {
    display: block;
    width: 100%;
    padding: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid $color-stone;
    border-radius: 0;
}

.result__image {
    display: block;
    width: 100%;
}

.result__details {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    text-align: left;
    background-color: rgba($color-stone, 0.9);

    .result--selected & {
        display: flex;
        flex-direction: column;
    }
}

.result__details-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: auto;
    background-image: none;
    padding: 0;
    opacity: 0.6;

    svg {
        display: block;
        width: 2rem;
        height: 2rem;
        fill: white;
    }

    &:hover {
        opacity: 1;
    }
}

.result__title {
    margin: 0 0 1rem 0;
    padding-right: 3rem;

    a {
        font-size: 1.6rem;
        font-weight: bold;
        text-decoration: none;
    }
}

.result__details-item {
    margin-bottom: 1rem;
    font-size: 1.4rem;

    &:last-of-type {
        margin-bottom: 0;
    }

    div:first-of-type {
        margin-bottom: 0.2rem;
    }

    input {
        width: 100%;
        max-width: 22rem;
        padding: 0.25rem 0.5rem;
        border-radius: 0.4rem;
        border: 0;
    }
}
