// Variables
// =========

// Fonts
$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Fredoka One', cursive;

// Colours
$color-slate: #222;
$color-stone: #333;
$color-grape: #832ca4;
$color-fuschia: #a239ca;
$color-lavender: #be75da;

// Container gutters & max width
$mobile-gutter: 20px;
$tablet-gutter: 30px;
$desktop-gutter: 40px;
$site-max-width: 1290px + ($desktop-gutter * 2); // 1290 + left & right gutter

// Media query breakpoints
$mq-breakpoints: (
    xs: 0px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

// Transitions
$default-transition-style: ease-out;
$default-transition-duration: 0.3s;
